.profileContainer{
    margin-top:53px;
    text-align:center;
    padding-bottom:20px;
    /*border-bottom:3px solid #F0F0F0;*/
}

.profilePic{
    height: 150px;
    width: 150px;
    border-radius:50%;
    display: inline-block;
    margin-top: 33px;
    margin-bottom: 0;
    background-color: rgba(223, 223, 224, 0.986);
    
}



.username{
    display: inline-block;
    width:100%;
    font-family: Averia Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 40px; 
    margin-top: 15px;
}


