.statBoard{
    /*display:inline-block;*/
    text-align:center;
    padding: 30px;
    /*float:left;*/
    
}

.statBoxWrapper{
    display:inline-block;
    text-align:center;
    border-bottom:3px solid #F0F0F0;
    border-top:3px solid #F0F0F0;
}

.listAction{
    list-style: none;
    text-align:center;
    display:inline-block;
}

.listActionItem{
    float:left;
    padding:20px;
    margin-right: 10px;
    height: 150px;
    width: 200px;
      
}

.btn-no-outline{
    border:none;
    font-family: Averia Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px; 
}
