.statBox{
    display: inline-block;
    /*float:left;*/
    font-family: Averia Libre;
    font-style: normal;
    font-weight: normal;
    padding: 35px 35px 10px 35px;
}
.statCircle{
    font-size: 33px;
    border-radius:100%;
    background-color:#F0F0F0;
    width: 75px;
    height:75px;
    padding:15px;
}

.statText{
    font-size: 22px;
}

.buttonText{
    font-size: 22px;
}